@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 75vw;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    selection#login > div#formulário {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    selection#login > div#formulário {
        float: right;
        width: 60%;
    }
}
    
