@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 75vw;
        height: 350px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formul치rio {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 850px;
        height: 380px;
    }

    section#login > div#imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formul치rio {
        float: left;
        width: 60%;
    }

    div#formul치rio > h1 {
        font-size: 2em;
    }

    div#formul치rio > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
}


    
